.manuBox{
    padding:1rem 3rem;
}
.manuBox>p>img{
    border-radius: 15px;
}
.manuBox>p{
    padding-bottom:2.5rem
}
.title{
    font-size: 2.2rem;
    padding-bottom: 2rem;
}
.subManuBar{
    display:flex;
    border-bottom:1px solid #ededed;
    margin-bottom:2rem;
}
.subManuBar>li{
    font-size:1.5rem;
    width:calc(100% / 5);
    text-align: center;
    padding-bottom:1rem;
}
.nonActive{
    font-weight: 300;
}
.active{
    border-bottom:1px solid #d00505;
    font-weight: bold;
}
