.headerContainer{
    width:1440px;
    display:flex;
    align-items:flex-start;
    justify-content:center;
    border-bottom:.5px solid #c0c0c0;
    position:absolute;
    z-index: 9999;
    background-color: rgba(255,255,255,0.9);
    padding:2rem 2rem 1rem;
    top:0;
    height:87px;
    overflow: hidden;
}
.headerContainer:hover{
    height:200px;
}
.headerManuList{
    font-size:20px;
    font-weight: 600;
    font-family:'Noto sans KR';
    display: flex;
}
.headerManuList>li>a{
    padding:30px;
}
.headerManuList>li>a:hover{
    cursor: pointer;
    border-bottom:1px solid #d21c1c ;
}

.headerBtn{
    font-size:1.2rem;
    padding:0 5rem 0 1.5rem;
    display: flex;
    align-items: center;
}

.headerUserManuList>ul>li:nth-child(2){
    position: relative;
}
.issueNum{
    display: inline-block;
    width:20px;
    height:20px;
    line-height: 23px;
    font-size:13px;
    text-align: center;
    background-color: #d21c1c;
    color:#fff;
    border-radius: 50%;
    position: absolute;
    top:-5px;
    right:5px;
    z-index: 10;
}
.headerUserManuList>ul{
    display: flex;
    align-items: center;
    padding:0 2rem;
    position: relative;
}
.headerUserManuList>ul>li{
    padding:0 1rem;
}
.subManu>ul{
    position:absolute;
    font-size:1rem;
    font-weight:500;
    display: flex;
    margin-top:2rem;
}
.subManu>ul>li{
    padding:2.5rem;
}
.subManu>a{
    padding:0 1rem;
}
.active{
    border-bottom:1px solid #d21c1c ;
}
/* subLink */

.subLink:hover{
    font-weight:bold;
    color:#d21c1c;
}


/* hamburgerBar */
.hamburgerBar>span{
    position: absolute;
    display: inline-block;
    width:25px;
    height:2px;
    background-color: #363636;
}
.hamburgerBar>span:nth-child(1){
    top:20px;
}
.hamburgerBar>span:nth-child(2){
    bottom:20px;
}
.active{
    border-bottom: 1px solid #d21c1c;
}