.subTitleContainer{
    /* padding-top:7rem; */
    /* box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.3); */
    border-top:.5px solid rgba(0,0,0,0.3);
    border-bottom:.5px solid rgba(0,0,0,0.3);
    width:100%;
    height:6rem;
    position:absolute;
    top:5.9rem;
    left:0;
    z-index: 995;
    background-color: #fff;
}
.subTitleTextContainer{
    width:50%;
    margin-left: 11rem;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 6rem;
}
.subTitleTextContainer>li{
    padding:0 2rem;
}
.subTitleTextContainer>li>a:hover{
    color:#d21c1c;
}