.loopBox{
    width:100%;
}
.loopContainer{
    height:32rem;
    position: relative;
    overflow: hidden;

}
.loopSlides{
    height:31.5rem;
    position:absolute;
    right:3rem;
    top:-350px;
}
.loopSlides>li{
    margin-bottom:20px;
}

.loopSlides>li>img{
    border-radius:15px;
    box-sizing: content-box;
}
.pageBtnBox{
    float: right;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items:flex-end;
}
.pageContainer{
    width:20px;
    height:180px;
    overflow: hidden;
    margin:-80px auto 0;
}
.page{
    width:10px;
    height:10px;
    border-radius:100% ;
    background-color: #dfdfdf;
    margin:20px auto ;
}
.pageActive{
    width:10px;
    height:10px;
    background-color: #949292;
}
.pageBtn {
    width:30px;
    height:30px;
    border-radius: 100%;
    background-color: #dfdfdf;
    text-align: center;
    line-height: 36px;
    margin:1rem 0;
}