.container{
    width:70%;
    margin:5rem auto;
}
.container>h1{
    font-size:2.2rem;
}
.wrap{
    width:50%;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrap>p{
    text-align: center;
    font-size: 2.3rem;
    font-weight:300;
    padding-bottom:2rem;
}
.wrap>form{
    width:80%;
    display: flex;
    flex-direction: column;
}
.wrap>form>label{
    display: flex;
    flex-direction: column;
}
.text{
    padding-bottom:1rem;
    font-weight:bold;
}
.wrap>form>label>input{
    border:none;
    border-bottom:1px solid #c3c3c3;
    padding:.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom:2rem;
    outline: none;
}
.wrap>form>label>input::placeholder{
    color:#b5b5b5
}
.login{
    font-size:1rem;
    padding:1rem 0;
    width:100%;
    border: 1px solid #000;
    border-radius: 15px;
    box-shadow: 0 3px 8px 3px rgba(72, 71, 71, 0.202);
}
.sign{
    font-size:1rem;
    padding:1rem 0;
    width:80%;
    border: 1px solid #000;
    border-radius: 15px;
    box-shadow: 0 3px 8px 3px rgba(72, 71, 71, 0.202);
    margin-top:3rem;
    background-color: #e8e8e8;
}