.bannerBox{
    width:100%;
    position:absolute;
    bottom:0;
}
.bannerContainer{
    width:calc(100% - 5rem);
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto ;
}
.bannerItem{
    /* width:27.5rem; */
    width:30%;
    padding:3rem 0;
    text-align: center;
    /* line-height:5rem; */
    background-color: #fff;
    border-radius:12px;
    box-shadow: 1px 5px 10px 1px rgba(195, 195, 195, 0.3);
    font-size: 1.5rem;
    transition:ease-in-out .1s;

}
.bannerItem:hover{
    padding:2.9rem 0;
    border:2px solid #d21c1c;
    box-shadow: 1px 5px 10px 1px rgba(53, 53, 53, 0.3);
}